img {
  float: left;
}
.background {
  background-color: #22201F;
  font-family: cursive;
}
body {
  color:#FFFFFF;
}
nav {
  height: 42px;
  background-color: #22201F;
}
nav ul {
  list-style: none;
}
nav ul li a {
  float: right;
  text-decoration: none;
  color: #5ACCDC;
  padding:0px 20px;
  line-height: 42px;
  height: 42px;
}

nav ul li a:hover {
  background-color: #5ACCDC;
  color: #22201F;
  border-radius: 8px;
}
h3 {
  text-align: center;
}
